<h1>
    <%= title %>
</h1>

<%- messages() %>
<%const name = locals.accountData.account_firstname %>


<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <div id="accountInformation">
    <% if(locals.accountData.account_type == "Client"){ %>
        <h3>Welcome <%- name %></h3>
    <p><a href="/account/update">Update Account</a></p>
    <% } %>   
    <% if(locals.accountData.account_type=="Employee" || locals.accountData.account_type == "Admin" ){ %>
        <h3>Welcome <%- name %></h3>
        <p><a href="/account/update">Edit Account Information</a></p>
        <h3>Inventory Management</h3>
        <p><a href="../inv/">Manage Inventory</a></p>
        <% } %>
    
    </div>