<h1>
    <%= title %>
</h1>

<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form id="deleteForm" method="post" action="/inv/delete/">
                <fieldset>
                    <legend>All Fields are Required</legend>
                    <label for="inv_year">Year</label>
                    <input type="text" id="inv_year" name="inv_year" required placeholder="4 digit year" pattern="\d+?"
                        value="<%= locals.inv_year %>">
                    <label for="inv_make">Make</label>
                    <input type="text" id="inv_make" name="inv_make" required placeholder="Min of 3 characters"
                        pattern="^[A-Za-z]+$" value="<%= locals.inv_make %>">
                    <label for="inv_model">Model</label>
                    <input type="text" id="inv_model" name="inv_model" required placeholder="Min of 3 characters"
                        pattern="^[A-Za-z]+$" value="<%= locals.inv_model %>">
                    <label for="inv_price">Price</label>
                    <input type="text" id="inv_price" name="inv_price" required placeholder="digits or integers"
                        pattern="\d+?" value="<%= locals.inv_price %>">
                    <p>Confirm Deletion - The delete is permanent.</p>
                    <button id="delete-inventory" type="submit">Delete Inventory</button>
                    <input type="hidden" name="inv_id" <% if(locals.inv_id) {%> value="<%= locals.inv_id %>" <%} %>>
                </fieldset>
            </form>
            <noscript>JavaScript must be enabled to use this page.</noscript>
            <script src="../../js/inv-update.js"></script>